.navbar-content{
	width: 100%;
	height: 4rem;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	z-index: 0;
}

.navbar-logo{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-1);
	font-size: 4rem;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -1.98px;
}

.navbar-menu{
	display: block;

	ul{
		list-style-type: none;
		list-style: none;

		li{
			font-size: 1.2rem;
			display: inline;

			a{
				padding: .5rem 2rem;
				font-family: var(--font-2);
				color: var(--color-1);
				font-size: 1rem;
				font-weight: 600;
				line-height: normal;
				font-style: normal;
			}
		}

		li:hover{
			a{
				background-color: var(--color-4);
				color: var(--color-2);
				border-radius: 2rem;
				box-shadow: 0px 2px 3px 1px rgba(var(--color-4-rgb), .4),
				0px -2px 3px 1px rgba(var(--color-4-rgb), .4),
				2px 0px 3px 1px rgba(var(--color-4-rgb), .4),
				-2px 0px 3px 1px rgba(var(--color-4-rgb), .4);
			}
		}
	}
}

.navbar-signIn{
	button{
		all:unset;
		padding: .5rem 2rem;
		font-family: var(--font-2);
		color: var(--color-2);
		font-size: 1rem;
		font-weight: 600;
		line-height: normal;
		font-style: normal;
		background-color: var(--color-1);
		border-radius: 2rem;
		transition: all 0.3s ease-in;
	}

	button:hover{
		box-shadow: 0px 2px 3px 1px rgba(var(--color-1-rgb), .4),
		0px -2px 3px 1px rgba(var(--color-1-rgb), .4),
		2px 0px 3px 1px rgba(var(--color-1-rgb), .4),
		-2px 0px 3px 1px rgba(var(--color-1-rgb), .4);
	}
}


//////////////////////////
/// 	small menu
//////////////////////////

.navburguer-content{
	width: 100%;
	height: 4rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	display: none;
}

.navbarburguer-bar{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.navburguer-logo{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--font-1);
	font-size: 4rem;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -1.98px;
	margin: 0 1rem;
}

.navburguer-btn{
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	span{
		position: relative;
		width: 2rem;
		height: .3rem;
		background-color: var(--color-4);
		border-radius: 2rem;
	}

	span::before{
		content: '';
		position: absolute;
		width: 2rem;
		height: .3rem;
		background-color: var(--color-4);
		border-radius: 2rem;
		top: -.6rem;
	}

	span::after{
		content: '';
		position: absolute;
		width: 2rem;
		height: .3rem;
		background-color: var(--color-4);
		border-radius: 3rem;
		top: .6rem;
	}

}

.navburguer-menu{
	width: 100%;
	position: absolute;
	top: 4rem;
	background-color: rgba(var(--color-2-rgb), .9);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transform: translateX(-150%);
	transition: all 0.3s ease-in;
	z-index: 1;

	ul{
		list-style-type: none;
		list-style: none;
		display: flex;
		flex-direction: column;

		li{
			display: flex;
			justify-content: center;
			padding: 1rem;

			a{
				padding: .5rem 3rem;
				font-family: var(--font-2);
				color: var(--color-1);
				font-size: 1rem;
				font-weight: 600;
				line-height: normal;
				font-style: normal;
			}

			a:hover{
				color: var(--color-4);
				border: 1px solid var(--color-4);
				border-radius: 3rem;
				box-shadow: 0px 2px 3px 1px rgba(var(--color-4-rgb), .4),
				0px -2px 3px 1px rgba(var(--color-4-rgb), .4),
				2px 0px 3px 1px rgba(var(--color-4-rgb), .4),
				-2px 0px 3px 1px rgba(var(--color-4-rgb), .4);
			}

			button{
				all:unset;
				padding: .5rem 2rem;
				font-family: var(--font-2);
				color: var(--color-2);
				font-size: 1.2rem;
				font-weight: 600;
				line-height: normal;
				font-style: normal;
				background-color: var(--color-1);
				border-radius: 2rem;
				transition: all 0.3s ease-in;
			}

			button:hover{
				box-shadow: 0px 2px 3px 1px rgba(var(--color-1-rgb), .4),
				0px -2px 3px 1px rgba(var(--color-1-rgb), .4),
				2px 0px 3px 1px rgba(var(--color-1-rgb), .4),
				-2px 0px 3px 1px rgba(var(--color-1-rgb), .4);
			}
		}
	}
}

/////////////////////////////
/// 	   Keyframes
/////////////////////////////
/* laptops, pantallas, grandes */
@media screen and (min-width: 3000px) {

}

/* laptops, pantallas, grandes */
@media screen and (max-width: 1600px) {

}

/* laptops, pantallas, grandes */
@media screen and (max-width: 1500px) {

}

/* laptops, pantallas, grandes */
@media screen and (max-width: 1300px) {

}

/* laptops, pantallas, grandes */
@media screen and (max-width: 1200px) {
	.navbar-menu{
		ul{
			li{
				a{
					padding: 1rem 2rem;
				}
			}
		}
	}
}

/* laptops, pantalladas medianas */
@media screen and (max-width: 992px) {
	.navbar-menu{
		ul{
			li{
				a{
					padding: 1rem 1rem;
				}
			}
		}
	}
}

/* Tabletas medianas */
@media screen and (max-width: 768px) {

	.navbar-content{
		display: none;
	}
	.navburguer-content{
		display: flex;
	}
}

/* Tabletas, telefonos */
@media screen and (max-width: 600px) {

}

/* Telefonos modernos */
@media screen and (max-width: 500px) {

}

/* Telefonos modernos */
@media screen and (max-width: 400px) {

}

